@attribute [Route(RecipeWorld.Constants.RouteNames.Recipe.List)]
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IRecipeService _recipeService
@using RecipeWorld.Shared.Entities
@using RecipeWorld.Shared.DTOs
@using RecipeWorld.Services

<PageTitle>Recipe List</PageTitle>

<Div Style="display: flex; justify-content: space-between">
    <Heading Size="HeadingSize.Is3">Recipe List</Heading>
    <Button Color="Color.Primary" Clicked="() => HandleAdd()">
        <Icon Name="IconName.Add"></Icon>
    </Button>
</Div>

<Container>
    <Table Hoverable>
        <TableHeader>
            <TableRow>
                @foreach (var HEAD in TABLE_HEAD.Select((value, index) => new { value, index }))
                {
                    <TableHeaderCell>@HEAD.value.Label</TableHeaderCell>
                }
            </TableRow>
        </TableHeader>
        <TableBody>
            @if (isFetching)
            {
                <TableRow>
                    <TableRowCell ColSpan="@TABLE_HEAD.Count">
                        <Text Color="Info">Loading...</Text>
                    </TableRowCell>
                </TableRow>
            }
            else if (recipes.Count == 0)
            {
                <TableRow>
                    <TableRowCell ColSpan="@TABLE_HEAD.Count">
                        <Text Color="Danger">No recipes available.</Text>
                    </TableRowCell>
                </TableRow>
            }
            else
            {
                @foreach (var recipe in recipes.Select((value, index) => new { value, index }))
                {
                    <TableRow>
                        <TableRowHeader>@(recipe.index + 1)</TableRowHeader>
                        <TableRowCell>@recipe.value.Title</TableRowCell>
                        <TableRowCell>
                            <Button Color="Color.Primary" Size="Size.Small" Clicked="() => HandleEdit(recipe.value.Id)" Disabled="@deletingRecipeIds.Contains(recipe.value.Id)">
                                <Icon Name="IconName.Edit"></Icon>
                            </Button>
                            <Button Color="Color.Danger" Size="Size.Small" Clicked="() => ShowDeleteModal(recipe.value)" Disabled="@deletingRecipeIds.Contains(recipe.value.Id)">
                                @if (deletingRecipeIds.Contains(recipe.value.Id))
                                {
                                    <Text>Deleting</Text>
                                }
                                else
                                {
                                    <Icon Name="IconName.Delete"></Icon>
                                }
                            </Button>
                        </TableRowCell>
                    </TableRow>
                }
            }
        </TableBody>
    </Table>
</Container>

<Modal @ref="deleteModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Are you sure to delete this?</ModalTitle>
        </ModalHeader>
        <ModalBody>
            @if (selectedRecipe != null)
            {
                <Div>Id: @selectedRecipe.Id</Div>
                <Div>Title: @selectedRecipe.Title</Div>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideDeleteModal">Close</Button>
            @if (selectedRecipe != null)
            {
                <Button Color="Color.Primary" Clicked="() => HandleDelete(selectedRecipe.Id)">Delete</Button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public class TableHeadInfo
    {
        public string Label { get; set; } = null!;
    }
    Modal deleteModalRef;
    GetRecipeResponseDto? selectedRecipe = null;
    readonly List<TableHeadInfo> TABLE_HEAD = new List<TableHeadInfo>
    {
        new TableHeadInfo
        {
            Label = "No",
        },
        new TableHeadInfo
        {
            Label = nameof(GetRecipeResponseDto.Title),
        },
        new TableHeadInfo
        {
            Label = "Action",
        }
    };
    List<GetRecipeResponseDto> recipes = new();
    HashSet<string> deletingRecipeIds = new HashSet<string>();
    bool isFetching = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = (await _recipeService.GetAllRecipesAsync()).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching recipes: {ex.Message}");
        }
        finally
        {
            isFetching = false;
        }
    }

    Task ShowDeleteModal(GetRecipeResponseDto recipe)
    {
        selectedRecipe = recipe;
        return deleteModalRef.Show();
    }

    Task HideDeleteModal()
    {
        selectedRecipe = null;
        return deleteModalRef.Hide();
    }

    async Task HandleDelete(string id)
    {
        deletingRecipeIds.Add(id);
        try
        {
            await _recipeService.DeleteRecipeAsync(id);
            recipes.RemoveAll(r => r.Id == id);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting recipe: {ex.Message}");
        }
        finally
        {
            deletingRecipeIds.Remove(id);
            await HideDeleteModal();
        }
    }
    void HandleAdd()
    {
        Navigation.NavigateTo(RecipeWorld.Constants.RouteNames.Recipe.Create);
    }
    void HandleEdit(string id)
    {
        Navigation.NavigateTo(RecipeWorld.Constants.RouteNames.Recipe.GetEditRoute(id));
    }
}
