@attribute [Route(RecipeWorld.Constants.RouteNames.Recipe.List)]
@attribute [StreamRendering]
@implements IDisposable
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IRecipeService _recipeService
@inject PersistentComponentState ApplicationState
@using RecipeWorld.Shared.Entities
@using RecipeWorld.Shared.DTOs
@using RecipeWorld.Services
@using RecipeWorld.Constants
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Recipe List</PageTitle>

<Div Style="display: flex; justify-content: space-between">
    <Heading Size="HeadingSize.Is3">Recipe List</Heading>
    <Button Color="Color.Primary" Clicked="() => HandleAdd()">
        <Icon Name="IconName.Add"></Icon>
    </Button>
</Div>

<Container>
    <Div>
        @if (IsConnected)
        {
            <Text>Live: </Text>
            <Icon Name="IconName.DotCircle" style="color: red"/>
        }
        else
        {
            <Text>Not Live: </Text>
            <Icon Name="IconName.DotCircle" style="color: gray" />
        }
    </Div>
    <Table Hoverable>
        <TableHeader>
            <TableRow>
                @foreach (var HEAD in TABLE_HEAD.Select((value, index) => new { value, index }))
                {
                    <TableHeaderCell>@HEAD.value.Label</TableHeaderCell>
                }
            </TableRow>
        </TableHeader>
        <TableBody>
            @if (isFetching)
            {
                <TableRow>
                    <TableRowCell ColSpan="@TABLE_HEAD.Count">
                        <Text Color="Info">Loading...</Text>
                    </TableRowCell>
                </TableRow>
            }
            else if (recipes.Count == 0)
            {
                <TableRow>
                    <TableRowCell ColSpan="@TABLE_HEAD.Count">
                        <Text Color="Danger">No recipes available.</Text>
                    </TableRowCell>
                </TableRow>
            }
            else
            {
                @foreach (var recipe in recipes.Select((value, index) => new { value, index }))
                {
                    <TableRow>
                        <TableRowHeader>@(recipe.index + 1)</TableRowHeader>
                        <TableRowCell>@recipe.value.Title</TableRowCell>
                        <TableRowCell>
                            <Button Color="Color.Primary" Size="Size.Small" Clicked="() => HandleEdit(recipe.value.Id)" Disabled="@disableButtonRecipeIds.Contains(recipe.value.Id)">
                                <Icon Name="IconName.Edit"></Icon>
                            </Button>
                            <Button Color="Color.Danger" Size="Size.Small" Clicked="() => ShowDeleteModal(recipe.value)" Disabled="@disableButtonRecipeIds.Contains(recipe.value.Id)">
                                @if (disableButtonRecipeIds.Contains(recipe.value.Id))
                                {
                                    <Text>Deleting</Text>
                                }
                                else
                                {
                                    <Icon Name="IconName.Delete"></Icon>
                                }
                            </Button>
                        </TableRowCell>
                    </TableRow>
                }
            }
        </TableBody>
    </Table>
</Container>

<Modal @ref="deleteModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Are you sure to delete this?</ModalTitle>
        </ModalHeader>
        <ModalBody>
            @if (selectedRecipe != null)
            {
                <Div>Id: @selectedRecipe.Id</Div>
                <Div>Title: @selectedRecipe.Title</Div>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideDeleteModal">Close</Button>
            @if (selectedRecipe != null)
            {
                <Button Color="Color.Primary" Clicked="() => HandleDelete(selectedRecipe.Id)">Delete</Button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public class TableHeadInfo
    {
        public string Label { get; set; } = null!;
    }
    Modal deleteModalRef;
    GetRecipeResponseDto? selectedRecipe = null;
    readonly List<TableHeadInfo> TABLE_HEAD = new List<TableHeadInfo>
    {
        new TableHeadInfo
        {
            Label = "No",
        },
        new TableHeadInfo
        {
            Label = nameof(GetRecipeResponseDto.Title),
        },
        new TableHeadInfo
        {
            Label = "Action",
        }
    };
    List<GetRecipeResponseDto> recipes = new();
    PersistingComponentStateSubscription persistingSubscription;
    HashSet<string> disableButtonRecipeIds = new HashSet<string>();
    bool isFetching = true;
    HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        // Save data to be retrived again on the second Initialized
        persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistList);

        if (!ApplicationState.TryTakeFromJson<List<GetRecipeResponseDto>>(
        nameof(recipes), out var restoredRecipes))
        {
            try
            {
                recipes = (await _recipeService.GetAllRecipesAsync()).ToList();
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error fetching recipes: {ex.Message}");
            }
        }
        else
        {
            recipes = restoredRecipes!;
        }
        isFetching = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SetUpRecipeSignalRConnection();
        }
    }

    Task PersistList()
    {
        ApplicationState.PersistAsJson(nameof(recipes), recipes);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose() => persistingSubscription.Dispose();

    async Task SetUpRecipeSignalRConnection()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri(RouteNames.Hub.Recipe))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On("ReceiveRecipeUpdate", async () =>
        {
            recipes = (await _recipeService.GetAllRecipesAsync()).ToList();
            await InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await InvokeAsync(StateHasChanged);
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    Task ShowDeleteModal(GetRecipeResponseDto recipe)
    {
        selectedRecipe = recipe;
        return deleteModalRef.Show();
    }

    Task HideDeleteModal()
    {
        selectedRecipe = null;
        return deleteModalRef.Hide();
    }

    async Task HandleDelete(string id)
    {
        disableButtonRecipeIds.Add(id);
        await HideDeleteModal();
        try
        {
            await _recipeService.DeleteRecipeAsync(id);
            recipes.RemoveAll(r => r.Id == id);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting recipe: {ex.Message}");
        }
        finally
        {
            disableButtonRecipeIds.Remove(id);
        }
    }
    void HandleAdd()
    {
        Navigation.NavigateTo(RouteNames.Recipe.Create);
    }
    void HandleEdit(string id)
    {
        Navigation.NavigateTo(RouteNames.Recipe.GetEditRoute(id));
    }
}
